@page
@using Microsoft.AspNetCore.Identity
@using Utterly.Areas.Identity.Data

@inject UserManager<UtterlyUser> UserManager
@model Utterly.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Senaste inläggen</h3>
@foreach (var post in Model.UtterlyPosts)
{
    <div class="card mb-3">
        <div class="card-header">
            <a asp-page="/Threads/Posts" asp-route-threadId="@post.Thread.Id">@post.Thread.Title</a>
        </div>
        <div class="card-body" id="@post.Id">
            <h6 class="card-subtitle mb-2 text-muted">
                @post.User.UserName - @post.CreatedAt.ToString("U")
            </h6>
            <p class="card-text">@post.Content</p>
        </div>
    </div>
}